{% extends "base.html" %}

{% block title %}{{ article.title }}{% endblock %}

{% block content %}
<div id="article" class="container">
	<div class="row center">
		<div class="col s12 m8 offset-m2">
			<h1 class="title">{{ article.title }}</h1>
		</div>
	</div>

	<div class="row">
		<div class="col s2 offset-s1 m1 offset-m4 l1 offset-l2">
			<img src="../theme/images/profile.png" alt="profile" class="circle materialboxed" width="50">
		</div>
		<div class="col s6 m3 l3">
			<a href="/about" alt="author"><strong>{{ article.author }}</strong></a> wrote this on {{ article.date|strftime('%d %B %Y') }}
		</div>
	</div>
	
	<div id="tags" class="row">
		<div class="col s3 offset-s3 m6 offset-m3 l6 offset-l4">
			{% for tag in article.tags %}
				<div class="chip {{ tag }}">
			    	{{ tag }}
			  	</div>
		
			{% endfor %}
			
		</div>
		
	</div>
	
	
	<div class="row">
		<div class=" col s12 reading-time grey-text" style="text-align:center">
			<span class="tooltipped" style="border-bottom: 1px solid #222;" data-position="bottom" data-tooltip="Based on an avg reading speed of 230 words per minute">
				<span class="blue-text text-lighten-1">
					<i class="fa fa-bookmark" style="color:#A3A3A3;"></i> <b>Read time:</b>
				</span> {{ article.word_count}} words - {{ article.read_time }} min
			</span>
			<div style="margin-top: -19px;font-size: 20px;"><i class="fa fa-sort-down"></i>
			</div>
		</div>
	</div>


	<div class="row">
		<div class="col s12 m10 offset-m1 flow-text">
			{{ article.content }}
		</div>
	</div>
</div>
{% endblock %}