{% extends "base.html" %}

{% block title %}{{ SITENAME }}{% endblock %}

{% block content %}

 <!--            Slider            -->  

	<div class="slider fullscreen">
      <ul class="slides">
      <!-- first slide -->
        <li>
          <img src="theme/images/bg1.jpg"> 
          <div id="caption-1" class="caption center-align">
            <h3>Welcome to my page</h3>
            <h5 class="light grey-text text-lighten-3">Sjillen, web developer</h5>
          </div>
        </li>

      <!-- second slide -->
        <li>
          <img src="theme/images/bg2.jpg"> 
          <div class="caption left-align">
            <h3>PHP Developer</h3>
            <h5 class="light grey-text text-lighten-3">Technologies: Symfony, Silex, Twig</h5>
          </div>
        </li>
      
      <!-- third image -->
        <li>
          <img src="theme/images/bg3.jpg"> 
          <div id="caption-3" class="caption right-align">
            <h3>Python Developer</h3>
            <h5 class="light grey-text text-lighten-3">Technologies: Django, Pelican, Jinja2</h5>
          </div>
        </li>
      </ul>
    </div>

{% endblock %}