{% extends "base.html" %}

{% block title %}{{ SITENAME }}{% endblock %}

{% block content %}


<div class="parallax-container valign-wrapper">

  <div class="container">
    <div class=" row center">
      <h1 class=" header col s12 amber-text text-darken-2">Welcome to my portfolio</h1>
    </div>
  </div>

  <div class="parallax">
    <img src="theme/images/night_stars_lights.jpg" alt="pic">
  </div>
</div>

<div id="project" class="section white">
  <div class="row container">

    <div class="col s12 m10 offset-m1">
      <ul id="staggered">
        <li>
          <div class="row">
            <div class="col s12">
              <div class="card sticky-action hoverable">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator responsive-img" src="theme/images/project4.png" alt="#">
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">Online ticketing service for the Louvre Museum<i class="material-icons right">more_vert</i></span>
                  <p><a href="http://projet4.thomasproust.fr" target="_blank">PHP, Symfony, Twig, Bootstrap and Jquery</a></p>
                </div>
                <div class="card-action">
                  <a href="http://projet4.thomasproust.fr" target="_blank">Take a look!</a>
                  <a href="http://github.com/sjillen" target="_blank" class="btn-floating halfway-fab waves-effect waves-light amber darken-2 right"><i class="fa fa-github fa-4x"></i></a>
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">Online ticketing service for the Louvre Museum<i class="material-icons right">close</i></span>
                  <p>This application, entirely built the PHP framework Symfony is a robust system engineered to provide a ticketing system for the Louvre Museum.<br>
                  It allows a user to book one or several tickets for the present day (or a future date) if the museum is open day. It also automatically renders the price according to the age of the ticket holder. Once the booking is finished a templated email including the booking information is sent to the buyer.<br></p>


                    <p>This project was part of my online courses in web development at OpenClassrooms. </p>
                    <p>The technologies used are Symfony, a PHP framework, the template engine Twig, Bootstrap3, Jquery and JQueryUI for the front-end. The payment process is managed by the Stripe API.</p>
                  </div>
                </div>

              </div>
            </div>
          </li>
          <li>
            <div class="row">
              <div class="col s12">

                <div class="card sticky-action hoverable">
                  <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator responsive-img" src="theme/images/project3.png" alt="#">
                  </div>
                  <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Blog for a professional writer<i class="material-icons right">more_vert</i></span>
                    <p><a href="http://jforteroche.thomasproust.fr" target="_blank">PHP, Silex, Twig, Bootstrap and Jquery</a></p>
                  </div>
                  <div class="card-action">
                    <a href="http://jforteroche.thomasproust.fr" target="_blank">Take a look!</a>
                    <a href="http://github.com/sjillen" target="_blank" class="btn-floating halfway-fab waves-effect waves-light amber darken-2 right"><i class="fa fa-github fa-4x"></i></a>
                  </div>
                  <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Blog for a professional writer<i class="material-icons right">close</i></span>
                    <p>This is a basic CMS website with a very simple back-end providing all the necessary tools required for a wordpress type of blog.
                      This application gives the user the ability to manage his articles, his account and the comments left for each article.
                      The comment section, coded from scratch, allows subcomments and reporting.<br></p>

                      <p>This project was part of my online courses in web development at OpenClassrooms. </p>
                      <p>The technologies used are Silex, a PHP micro-framework, the template engine Twig, Bootstrap3 and Jquery for the front-end, and TinyMCE for the text formating of the articles</p>
                    </div>
                  </div>

                </div>
              </div>
            </li>

          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="parallax-container">
  <div class="parallax">

    <img src="theme/images/night_stars_lights.jpg" alt="pic">

  </div>
</div>
{% endblock %}
